<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScreenToFTP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ScreenToFTP.Properties.Settings>
            <setting name="ftpHost" serializeAs="String">
                <value>example.com</value>
            </setting>
            <setting name="ftpUser" serializeAs="String">
                <value>username</value>
            </setting>
            <setting name="ftpPass" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="ftpPath" serializeAs="String">
                <value>/</value>
            </setting>
            <setting name="ftpUrl" serializeAs="String">
                <value>http://example.com/screenshots/</value>
            </setting>
            <setting name="hotFull" serializeAs="String">
                <value>2,1,Q</value>
            </setting>
            <setting name="hotArea" serializeAs="String">
                <value>2,1,W</value>
            </setting>
            <setting name="hotActive" serializeAs="String">
                <value>2,1,E</value>
            </setting>
            <setting name="fileType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="soundEnabled" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="prefixEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="prefix" serializeAs="String">
                <value>ScreenToFTP-</value>
            </setting>
        </ScreenToFTP.Properties.Settings>
    </userSettings>
</configuration>